.is-1, .is-2, .is-3, .is-4, .is-5, .is-6, .is-7, .is-8, .is-9, .is-10, .is-11, .is-12 {
  float: left; }

.is-1 {
  width: 8.33333%; }

.is-2 {
  width: 16.66667%; }

.is-3 {
  width: 25%; }

.is-4 {
  width: 33.33333%; }

.is-5 {
  width: 41.66667%; }

.is-6 {
  width: 50%; }

.is-7 {
  width: 58.33333%; }

.is-8 {
  width: 66.66667%; }

.is-9 {
  width: 75%; }

.is-10 {
  width: 83.33333%; }

.is-11 {
  width: 91.66667%; }

.is-12 {
  width: 100%; }

.is-pull-0 {
  right: auto; }

.is-pull-1 {
  right: 8.33333%; }

.is-pull-2 {
  right: 16.66667%; }

.is-pull-3 {
  right: 25%; }

.is-pull-4 {
  right: 33.33333%; }

.is-pull-5 {
  right: 41.66667%; }

.is-pull-6 {
  right: 50%; }

.is-pull-7 {
  right: 58.33333%; }

.is-pull-8 {
  right: 66.66667%; }

.is-pull-9 {
  right: 75%; }

.is-pull-10 {
  right: 83.33333%; }

.is-pull-11 {
  right: 91.66667%; }

.is-pull-12 {
  right: 100%; }

.is-push-0 {
  left: auto; }

.is-push-1 {
  left: 8.33333%; }

.is-push-2 {
  left: 16.66667%; }

.is-push-3 {
  left: 25%; }

.is-push-4 {
  left: 33.33333%; }

.is-push-5 {
  left: 41.66667%; }

.is-push-6 {
  left: 50%; }

.is-push-7 {
  left: 58.33333%; }

.is-push-8 {
  left: 66.66667%; }

.is-push-9 {
  left: 75%; }

.is-push-10 {
  left: 83.33333%; }

.is-push-11 {
  left: 91.66667%; }

.is-push-12 {
  left: 100%; }

.is-offset-0 {
  margin-left: 0%; }

.is-offset-1 {
  margin-left: 8.33333%; }

.is-offset-2 {
  margin-left: 16.66667%; }

.is-offset-3 {
  margin-left: 25%; }

.is-offset-4 {
  margin-left: 33.33333%; }

.is-offset-5 {
  margin-left: 41.66667%; }

.is-offset-6 {
  margin-left: 50%; }

.is-offset-7 {
  margin-left: 58.33333%; }

.is-offset-8 {
  margin-left: 66.66667%; }

.is-offset-9 {
  margin-left: 75%; }

.is-offset-10 {
  margin-left: 83.33333%; }

.is-offset-11 {
  margin-left: 91.66667%; }

.is-offset-12 {
  margin-left: 100%; }

.club-form {
  padding: 0 30px;
  background-color: inherit; }

.club-columns {
  display: block;
  margin-bottom: 15px; }
  .club-columns:after {
    content: " ";
    display: table;
    clear: both; }
  .club-columns:last-child {
    margin-bottom: 0; }

.club-column {
  float: left; }
  .club-column label {
    font-weight: normal;
    line-height: 28px;
    height: 28px;
    float: left;
    width: 150px;
    box-sizing: border-box;
    text-align: right;
    padding-right: 10px;
    margin: 0; }
  .club-column .club-input {
    float: left;
    width: calc(100% - 150px); }
  .club-column input, .club-column select {
    height: 28px; }
  .club-column input, .club-column select, .club-column textarea {
    width: 100%;
    line-height: 28px;
    display: block;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #dbdbdb;
    color: #363636;
    text-align: left;
    min-width: 200px; }

.is-short-input {
  min-width: 200px; }
  .is-short-input .club-input {
    min-width: 50px; }
  .is-short-input input, .is-short-input select, .is-short-input textarea {
    min-width: 50px; }

.is-middle-input {
  min-width: 275px; }
  .is-middle-input .club-input {
    min-width: 125px; }
  .is-middle-input input, .is-middle-input select, .is-middle-input textarea {
    min-width: 125px; }

/*# sourceMappingURL=floatLayout.css.map */
